@model FunBoardTracker.Templates.IssuesModel
@using FunBoardTracker
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<style type="text/css">
		div.issue {
			width: 440px;
			height: 430px;
			padding-top: 20px;
			border-bottom: 1px dotted black;
		}

		div.odd {
			float: left;
			padding-right: 40px;
			border-right: 1px dotted black;			
		}

		div.even {
			float: right;
			padding-left: 19px;
		}

		div.issue h1 {
			margin: 0px;
			display: block;
			height: 35px;
		}

		div.issue h3 {
			margin: 5px 0px 5px 0px;
			display: block;
			height: 40px;
		}

		div.issue div.info {
			padding-bottom: 5px;
		}

		div.issue div.assignee {
			border: 2px solid black;
			width: 150px;
			height: 150px;
			float: left;
		}

        div.issue div.left {
            float: left;
        }

		div.issue img.tag {
			width: 250px;
			height: 250px;
			float: right;
		}

        div.page-break {
            page-break-after: always;
        }

	</style>
</head>
	<body>
		@{ int i = 1; }
		@foreach(TrackerIssue issue in Model.Issues) {
		    <div class="issue @(i % 2 == 0 ? "even" : "odd")" id="@issue.Issue.Id">
		        <div class="info">
		            <h1>@issue.Issue.Key</h1>
		            <h3>@issue.Issue.Summary</h3>
		            <span>Story points: </span>@issue.Issue.EstimateStatistic.StatFieldValue.Value <br />
                    
		        </div>
                <div class="left">
		            <div class="assignee"></div>
                    <div class="order"><span>Backlog order: </span>@issue.Order</div>
                </div>
		        <img class="tag" src="data:image/png;base64,@issue.GlyphBase64Png"/>
		    </div>
		    i++;
		}
	</body>
</html>